# app
/app/vendor
/app/.env
/app/*.lst
/app/phpstan.neon
/app/var/
/app/.php-cs-fixer.php
/app/.php-cs-fixer.cache
/app/bin/*
!/app/bin/console
/app/phpunit.xml
/app/.phpunit.cache/

docker/.env
docker/postgres/data

###> league/oauth2-server-bundle ###
/config/jwt/*.pem
###< league/oauth2-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

# ide
.idea
.vscode

app/.deptrac.cache
